@font-face{
  font-family: 'Press Start 2P';
  src: url('./PressStart2P-Regular.ttf');
  font-weight: normal;
}

.poke-popup{
    position: fixed; 
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(222, 222, 222);
    border: 2px solid rgb(93, 93, 93);
    
    z-index: 9999 !important; 
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 230px;
    width:500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.poke-image {
    width: 100px;
    height: 100px;
    margin-top: 0;
    margin-bottom: 10px;
}

.poke-button {
    padding: 10px 20px;
    font-size: 14px;
    color: #1e1d1d;
    font-family: "Press Start 2P", system-ui;
    border: 1.5px solid rgb(48, 48, 48);
    border-radius: 5px;
    
  }

.poke-button:hover {
   background-color: #7a7575;
   transition: 0.18s ease-in-out;
}

.poke-text {
    font-size: 13px;
    margin-bottom: 20px;
    color: #2a2a2a;
    font-family: "Press Start 2P", system-ui;
}