@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body{
    font-family: "Press Start 2P", system-ui;
    margin: 0; 
    padding: 10px;
    background-color: #f9f9f9;
    color: #444;
    text-align: center;
    
}

h1{
    font-size: 14px;
    margin-bottom: 10px;
    color: #333;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

li{
    margin: 15px 0;
    text-align:center;
    padding:10px;
    background-color: #aea9a9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2{
    font: "Press Start 2P", system-ui;
    font-size: 14px;
    margin-bottom: 10px;
}

.dex{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 70px; 
    padding: 10px 70px;
}

.poke-popup{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    background-color: #fffbea;
    border: 2px solid #444;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    text-align: center;
    max-width: 300px;
}

.poke-button:hover {
   background-color: #7a7575;
}

.poke-text {
    font-size: 16px;
    margin-bottom: 10px;
}

button{
    display: inline-block;
    padding: 8px 15px;
    font-size: 14px;
    font-family: 'Press Start 2P';
    background-color: #aea9a9;
    color: #444;
    border: #444;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #7a7575;
}

#reset {
    margin-top: 15px; 
    width: 100%; 
    text-align: center;
}